

body {
    background-image: url("https://i.imgur.com/Hi5uXYY.png");
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	font-size: 30px;
	font-family: "Bangers";
	color: black;
}

#start{
	color: black;
}

#qbub {
	text-align: center;
	background-position: top;
	z-index: 2;
}

.abubimg {
	display: inline-block;
	text-align: center;
	z-index: 100;
	background-image: url("../images/AnswerBubble.png");
	width: 400px;
	height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 275px;
    margin: 10px;
}

#bub {
	position: absolute;
	width: 100%;
	margin: 200px auto 0;
	text-align: center;
}

